.wrap
  %h1
    Draft
    %strong Countdown
  .countdown
    .bloc-time.hours{"data-init-value" => "24"}
      %span.count-title Hours
      .figure.hours.hours-1
        %span.top 2
        %span.top-back
          %span 2
        %span.bottom 2
        %span.bottom-back
          %span 2
      .figure.hours.hours-2
        %span.top 4
        %span.top-back
          %span 4
        %span.bottom 4
        %span.bottom-back
          %span 4
    .bloc-time.min{"data-init-value" => "0"}
      %span.count-title Minutes
      .figure.min.min-1
        %span.top 0
        %span.top-back
          %span 0
        %span.bottom 0
        %span.bottom-back
          %span 0
      .figure.min.min-2
        %span.top 0
        %span.top-back
          %span 0
        %span.bottom 0
        %span.bottom-back
          %span 0
    .bloc-time.sec{"data-init-value" => "0"}
      %span.count-title Seconds
      .figure.sec.sec-1
        %span.top 0
        %span.top-back
          %span 0
        %span.bottom 0
        %span.bottom-back
          %span 0
      .figure.sec.sec-2
        %span.top 0
        %span.top-back
          %span 0
        %span.bottom 0
        %span.bottom-back
          %span 0
