.content-wrapper {
  background-color: #f7f7f7;
  padding-bottom: 50px;
  .content {
    h2 {
      color: $color-dark;
      font-weight: lighter;
      text-align: left;
      padding-top: 20px;
    }
    h4 {
      font-weight: normal;
      padding-bottom: 20px;
      text-align: left;
    }

    .cycle-pager {
      bottom: -5px;
      overflow: hidden;
      position: relative;
      text-align: center;
      width: 100%;
      z-index: 500;
    }

    .slide .container .row {
      margin-bottom: 40px;
    }

    .carousel {
      line-height: 22px;
    }
    .carousel-indicators .active {
      background-color: rgba(0, 0, 0, 0.400)
    }
    .carousel-indicators li {
      @include border-radius(50%);
      background-color: rgba(0, 0, 0, 0.102);
      cursor: pointer;
      height: 15px;
      margin-left: 15px;
      width: 15px;
    }
    .content-inner {
      padding-top: 100px;
    }
    .image-box {
      @include border-radius(20px);
      @include box-sizing(border-box);
      border: 10px solid rgba(0,0,0,0.05);
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
    }
    .image {
      @include border-radius(10px);
      @include box-sizing(border-box);
      border: 5px solid $color-dark;
      overflow: hidden;
      img {
        width: 100%
      }
    }
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .content-wrapper {
    .content {
      h2 {
        padding-top: 0px;
      }
      h4 {
        padding-bottom: 0px;
      }
      .span5 {
        font-size: 12px;
        line-height: 18px;
      }
      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: $screen-xs-max) {
  .content-wrapper {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    .content {
      h2 {
        text-align: center;
        padding-top: 0px;
      }
      h4 {
        text-align: center;
        padding-bottom: 10px;
      }

      .content-inner {
        padding-top: 50px;
      }
      img {
        width: 100%;
      }
      .image-box {
        margin-bottom: 20px;
      }
    }
  }
}
