.gallery {
  .thumbnails .thumbnail {
    @include box-shadow(inset 0px 0px 30px 0px rgba(0,0,0,0.04));
    background-color: rgba(0,-0.1,0,0.05);
    &:hover {
      background-color: rgba(0,0,0,0.1);
    }
    img {
      width: 100%;
    }
    h3 {
      text-align: center;
    }
  }
}

@media (max-width: $screen-xs-max) {
  .thumbnails .thumbnail {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}
