.speakers-wrapper {
  background-color: $color-dark;
  padding-bottom: 40px;
  h2 {
    color: #fff;
    font-weight: lighter;
  }
  h4 {
    padding-bottom: 60px;
  }
  p {
    font-family: $font-family-default;
    margin: 0px;
  }

  .nav-tabs {
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 30px;
    a {
      color: rgba(255,255,255,0.3);
      background-color: transparent;
      border-left: none;
      border-right: none;
      border-top: none;
      bottom: -1px;
      font-family: $font-family-default;
      font-size: 36px;
      font-weight: lighter;
      margin-right: 60px;
      padding-left: 0px;
      padding-right: 0px;
      padding-bottom: 20px;
      outline: none;
      &:hover, &:focus {
        color: rgba(255,255,255,0.4);
        background-color: transparent;
        border:none;
        border-bottom: 2px solid;
        border-bottom-color: rgba(255, 255, 255, .4);
      }
    }

    .active a {
      @include transition(all 0.1s ease);
      color: #fff;
      background-color: transparent;
      border: none;
      border-bottom: 2px solid;
      border-bottom-color: #fff;
      &:hover, &:focus {
        @include transition(all 0.1s ease);
        color: #fff;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid;
        border-bottom-color: #fff;
      }
    }
  }

  .speaker {
    margin-bottom: 40px;
    hr {
      visibility: hidden;
    }
    .item {
      float: none;
      margin: 0px auto;
    }
    .outer-border {
      @include border-radius(50%);
      @include box-sizing(border-box);
      border: 1px solid rgba(255, 255, 255, .3);
      height: 172px;
      width: 172px;
    }
    .middle-border {
      @include transition(all 0.2s ease);
      @include border-radius(50%);
      @include box-sizing(border-box);
      border: 10px solid rgba(0,0,0,0.05);
      height: 170px;
      width: 170px;
    }
    .inner-border {
      @include transition(all 0.2s ease);
      @include box-sizing(border-box);
      @include border-radius(50%);
      border: 5px solid white;
      height: 150px;
      width: 150px;
      &:hover {
        border: 0px solid white;
        height: 150px;
        width: 150px;
      }
    }

    .name {
      color: #fff;
      font-size: 24px;
      font-weight: normal;
      padding-top: 25px;
      padding-bottom: 5px;
    }
    .company {
      color: $color-gray;
      font-family: $font-family-standard;
    }
    .talk-title {
      color: $color-primary;
      font-size: 30px;
      font-weight: lighter;
      line-height: 30px;
      padding-top: 5px;
      padding-bottom: 10px;
    }
    .time {
      color: rgba(255, 255, 255, .3);
      font-size: 36px;
      font-weight: lighter;
      padding-top: 10px;
      padding-bottom: 5px;
    }
    .time .time-start {
      color: #fff;
    }
    .about {
      border-left: 2px solid rgba(255, 255, 255, .2);
      margin-left: 0px;
      margin-top: 30px;
      padding-left: 20px;
      h4 {
        color: #fff;
        text-align: left;
        padding-bottom: 0px;
        padding-top: 0px;
        margin-top: 00px;
      }
      p {
        color: $color-gray;
        font-family: $font-family-standard;
        text-align: left;
      }
    }
  }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .speakers-wrapper {
    .nav-tabs a {
      font-size: 30px;
      padding-bottom: 15px;
      margin-right: 40px;
    }
    .speaker {
      margin-bottom: 30px;
      .outer-border {
        height: 142px;
        width: 142px;
      }
      .middle-border {
        height: 140px;
        width: 140px;
      }
      .inner-border {
        height: 120px;
        width: 120px;
        &:hover {
          height: 120px;
          width: 120px;
        }
      }
      .about {
        margin-top: 15px;
      }
      .name {
        font-size: 24px;
        padding-top: 15px;
        padding-bottom: 5px;
      }
    }
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .speakers-wrapper {
    .nav-tabs a {
      font-size: 24px;
      padding-bottom: 10px;
      margin-right: 30px;
    }
    .speaker {
      margin-bottom: 30px;
      .outer-border {
        height: 112px;
        width: 112px;
      }
      .middle-border {
        height: 110px;
        width: 110px;
      }
      .inner-border {
        height: 90px;
        width: 90px;
        &:hover {
          height: 90px;
          width: 90px;
        }
      }
      .about {
        margin-top: 5px;
        p {
          font-size: 12px;
          line-height: 18px;
        }
      }
      .name {
        font-size: 18px;
        padding-top: 5px;
        padding-bottom: 0px;
      }
      .talk-title	{
        font-size: 24px;
        padding-top: 0px;
        padding-bottom: 0px;
      }
      .time {
        font-size: 30px;
      }
    }
  }
}

@media (max-width: $screen-xs-max) {
  .speakers-wrapper {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    h4 {
      padding-bottom: 10px
    }
    .nav-tabs > li {
      display: block;
      float: none;
      margin-bottom: -1px;
      margin-top: 1px
    }
    .nav-tabs > li > a {
      border-radius: 0;
      border-bottom: none;
      border-left: 2px solid rgba(255,255,255,0.2);
    }
    .nav-tabs .active a,
    .nav-tabs .active a:hover,
    .nav-tabs .active a:focus {
      border-radius: 0;
      border-bottom: none;
      border-left: 4px solid #fff;
      margin-left: -1px;
    }
    .nav-tabs a:hover,
    .nav-tabs a:focus {
      border-radius: 0;
      border-bottom: none;
      border-left: 2px solid rgba(255,255,255,0.4);
    }
    .nav-tabs a {
      font-size: 28px;
      padding-bottom: 10px;
      margin-right: 10px;
      padding-left: 20px;
    }
    .nav-tabs {
      border: none;
    }
    .speaker {
      margin-bottom: 60px;
      hr {
        border-color: rgba(255,255,255,0.2);
        margin: 20px auto;
        width: 20%;
        visibility: visible;
      }
      .outer-border {
        height: 142px;
        width: 142px;
      }
      .middle-border {
        height: 140px;
        width: 140px;
      }
      .inner-border {
        height: 120px;
        width: 120px;
        &:hover {
          height: 120px;
          width: 120px;
        }
      }
      .image {
        margin: 0px auto;
        width: 170px;
      }
      .col-sm-7 {
        text-align: center;
      }
      .about {
        border-left: none;
        margin-top: 0px;
        padding-left: 0px;
        h4, p {
          text-align: center;
        }
      }
      &:last-child .about {
        margin-bottom: 0px;
      }

      .talk-title {
        line-height: 28px;
      }
    }
  }
}
