#nav-features.features-wrapper
  .features
    .features-inner.container
      .row
        .item.orange.col-sm-4
          .row
            .wrapper-icon.col-sm-3
              .background-icon
                %i.icon.icon-outline-pointer
            .text-wrapper.col-sm-9.pull-right
              %h3 5 different places
              %p.features-description
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan velit tincidunt ante commodo suscipit.
        .item.blue.col-sm-4
          .row
            .wrapper-icon.col-sm-3
              .background-icon
                %i.icon.icon-outline-clock
            .text-wrapper.col-sm-9
              %h3 24 hour workshops
              %p.features-description
                Class aptent taciti sociosqu ad litora torquent per conubia
                nostra, per inceptos himenaeos. Praesent fermentum iaculis
        .item.yellow.col-sm-4
          .row
            .wrapper-icon.col-sm-3
              .background-icon
                %i.icon.icon-outline-megaphone
            .text-wrapper.col-sm-9
              %h3 75 great speakers
              %p.features-description
                Duis accumsan metus vel nisi interdum fermentum. Duisviverra magna sit amet nisi ullamcorper consectetur.
