.content-wrapper
  .content
    .content-inner
      .container
        .cycle-slideshow-fade
          .cycle-pager
          .slide
            .container
              .row
                .col-sm-5
                  .image-box
                    .image
                      = image_tag("4.jpg", alt:"")

                .col-sm-7
                  %h2 Why you should come to NWX?
                  %h4 And what will be waiting for you there
                  %p
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tellus
                    lectus, cursus et tincidunt eu, iaculis vel tellus. Integer nibh metus, tempor in
                    vulputate in, mollis vitae libero. Nunc sit amet fermentum ante. Nullam facilisis
                    metus quis nunc rhoncus fringilla. Donec nec nisl nisl, vel tincidunt urna. Donec
                    erat erat, suscipit vitae tristique non, posuere nec mi. In faucibus lobortis
                    pharetra.
          .slide
            .container
              .row
                .col-sm-5
                  .image-box
                    .image
                      = image_tag("2.jpg", alt:"")

                .col-sm-7
                  %h2 Visit the best speakers in the industry
                  %h4 And what will be waiting for you there
                  %p
                    Maecenas lobortis ligula nibh, aliquam fringilla ipsum interdum non. Suspendisse aliquet nisl eu quam fermentum, lobortis ullamcorper velit facilisis. Sed elementum eu nibh nec ornare. Morbi a adipiscing ante. Donec metus odio, dapibus vitae arcu eget, iaculis consectetur leo. Morbi non nunc in erat dignissim euismod. Sed vehicula purus eu eros pulvinar tincidunt.
          .slide
            .container
              .row
                .col-sm-5
                  .image-box
                    .image
                      = image_tag("3.jpg", alt:"")
                .col-sm-7
                  %h2 Find new connections for your business
                  %h4 And what will be waiting for you there
                  %p
                    Donec aliquam scelerisque risus nec commodo. Curabitur consectetur ac erat ac porttitor. Nulla nunc magna, vehicula ut risus eu, pharetra tincidunt velit. Sed ullamcorper massa eros, nec congue eros aliquet at. Quisque neque arcu, fermentum eu elementum et, viverra a lacus. Integer vel nisi malesuada, auctor augue et, sodales arcu.
          .slide
            .container
              .row
                .col-sm-5
                  .image-box
                    .image
                      = image_tag("1.jpg", alt:"")
                .col-sm-7
                  %h2 Find new connections for your business
                  %h4 And what will be waiting for you there
                  %p
                    Maecenas mattis lectus eu nulla convallis consequat. Ut arcu ipsum, placerat et consequat quis, gravida id metus. Nunc nec augue accumsan, vehicula diam in, feugiat est. In hendrerit urna non posuere gravida. In volutpat tellus sapien, a bibendum nisl vulputate sit amet. Aenean eu mauris a nibh sodales pretium eget sollicitudin sapien.
