.container.gallery
  %h2.page-header What it’s look like here?
  %ul.row.thumbnails
    %li.col-sm-3
      .thumbnail
        %a{:href => "assets/pictures/1.jpg"}
          = image_tag("1.jpg", alt: "")
        %h3 Hall A
    %li.col-sm-3
      .thumbnail
        %a{:href => "assets/pictures/2.jpg"}
          = image_tag("2.jpg", alt: "")
        %h3 Hall B
    %li.col-sm-3
      .thumbnail
        %a{:href => "assets/pictures/3.jpg"}
          = image_tag("3.jpg", alt: "")
        %h3 Hall C

    %li.col-sm-3
      .thumbnail
        %a{:href => "assets/pictures/4.jpg"}
          = image_tag("4.jpg", alt: "")
        %h3 Hall D
