#nav-pricing.pricing-wrapper
  .pricing
    .pricing-inner
      .container.has-options
        %h2 Buy your ticket now and save a lot of money!
        %h4 Precisely choosed big names from whole world
        %ul.nav.nav-options.pull-right
          %li.dropdown
            %a.dropdown-toggle.icon-options{"data-target" => "#", "data-toggle" => "dropdown", :href => "#"}
              %span.icon-normal-cog-wheel
            %ul.dropdown-menu.pull-right
              %li
                %a{"data-toggle" => "tab", :href => "#tab-1-pricing"} 3 Circles
              %li
                %a{"data-toggle" => "tab", :href => "#tab-2-pricing"} 4 Rectangles
              %li
                %a{"data-toggle" => "tab", :href => "#tab-3-pricing"} 3 Rectangles
        .tab-content
          #tab-1-pricing.tab-pane.fade.in.active
            .container
              .row
                .col-md-4.col-md-offset-0.col-sm-6.col-sm-offset-3
                  .circle
                    .content
                      %p.price
                        399
                        %sup $
                      %ul.span3
                        %li One day ticket
                        %li Parking place
                      %a.btn.btn-buy Buy now
                .col-md-4.col-md-offset-0.col-sm-6.col-sm-offset-3
                  .circle
                    .content.best-offer
                      %p.price
                        599
                        %sup $
                      %ul.span3
                        %li Two day ticket
                        %li Free cathering
                        %li Parking place
                      %a.btn.btn-buy Buy now
                      .bubble
                        %p Best Offer
                .col-md-4.col-md-offset-0.col-sm-6.col-sm-offset-3
                  .circle
                    .content
                      %p.price
                        999
                        %sup $
                      %ul.span3
                        %li Two day ticket
                        %li Free cathering
                        %li VIP sitting place
                        %li After party with speakers
                      %a.btn.btn-buy Buy now
          #tab-2-pricing.tab-pane.fade
            .container
              .row
                .col-sm-3
                  .square
                    .content
                      %p.price
                        399
                        %sup $
                      %ul.item
                        %li One day ticket
                        %li Parking place
                      %a.btn.btn-buy Buy now
                .col-sm-3
                  .square
                    .content.best-offer
                      %p.price
                        599
                        %sup $
                      %ul.item
                        %li Two day ticket
                        %li Free cathering
                        %li Parking place
                      %a.btn.btn-buy Buy now
                      .bubble
                        %p Best Offer
                .col-sm-3
                  .square
                    .content
                      %p.price
                        999
                        %sup $
                      %ul.item
                        %li Two day ticket
                        %li Free cathering
                        %li VIP sitting place
                        %li After party with speakers
                      %a.btn.btn-buy Buy now
                .col-sm-3
                  .square
                    .content
                      %p.price
                        999
                        %sup $
                      %ul.item
                        %li Two day ticket
                        %li Free cathering
                        %li VIP sitting place
                        %li After party with speakers
                      %a.btn.btn-buy Buy now
          #tab-3-pricing.tab-pane.fade
            .container
              .row
                .col-sm-4
                  .square
                    .content
                      %p.price
                        399
                        %sup $
                      %ul.item
                        %li One day ticket
                        %li Parking place
                      %a.btn.btn-buy Buy now
                .col-sm-4
                  .square
                    .content.best-offer
                      %p.price
                        599
                        %sup $
                      %ul.item
                        %li Two day ticket
                        %li Free cathering
                        %li Parking place
                      %a.btn.btn-buy Buy now
                      .bubble
                        %p Best Offer
                .col-sm-4
                  .square
                    .content
                      %p.price
                        999
                        %sup $
                      %ul.item
                        %li Two day ticket
                        %li Free cathering
                        %li VIP sitting place
                        %li After party with speakers
                      %a.btn.btn-buy Buy now
