#nav-speakers.speakers-wrapper
  .container
    %h2 Great speakers with great topics
    %h4 Precisely choosed big names from whole world
    .speakers
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#tab-1"} Hall A
        %li
          %a{"data-toggle" => "tab", :href => "#tab-2"} Hall B
        %li
          %a{"data-toggle" => "tab", :href => "#tab-3"} Evening Session
      .tab-content
        #tab-1.tab-pane.fade.active.in
          .row.speaker
            .col-sm-2
              .outer-border.item
                .middle-border
                  = image_tag("speakers-1.jpg", class: 'img-circle inner-border')
            .col-sm-7
              %p.name Eduard Jones
              %p.company Social Architects, inc
              %p.talk-title Street art as a new marketing tool
              %p.time
                %span.time-start 08:00
                \- 08:45
            %hr/
            .col-sm-3
              .about
                %h4 About Eduard
                %p
                  Integer at eros eu mauris tincidunt eleifend. In hac habitasse platea dictumst. Aliquam vitae quam nec lorem viverra
          .row.speaker
            .col-sm-2
              .outer-border.item
                .middle-border
                  = image_tag("speakers-3.jpg", class: 'img-circle inner-border')
            .col-sm-7
              %p.name Clarissa Daniels
              %p.company Founder of Pear, inc.
              %p.talk-title Using social services to increse your sales
              %p.time
                %span.time-start 09:00
                \- 09:45
            %hr/
            .col-sm-3
              .about
                %h4 About Clarissa
                %p
                  Integer at eros eu mauris tincidunt eleifend. In hac habitasse platea dictumst. Aliquam vitae quam nec lorem viverra
          .row.speaker
            .col-sm-2
              .outer-border.item
                .middle-border
                  = image_tag("speakers-2.jpg", class: 'img-circle inner-border')
            .col-sm-7
              %p.name John Doe
              %p.company CEO at Crown.io
              %p.talk-title Is there a need for Business 3.0?
              %p.time
                %span.time-start 10:00
                \- 10:45
            %hr/
            .col-sm-3
              .about
                %h4 About John
                %p
                  Integer at eros eu mauris tincidunt eleifend. In hac habitasse platea dictumst. Aliquam vitae quam nec lorem viverra
        #tab-2.tab-pane.fade
          .row.speaker
            .col-sm-2
              .outer-border.item
                .middle-border
                  = image_tag("speakers-2.jpg", class: 'img-circle inner-border')
            .col-sm-7
              %p.name John Doe
              %p.company CEO at Crown.io
              %p.talk-title Is there a need for Business 3.0?
              %p.time
                %span.time-start 10:00
                \- 10:45
            %hr/
            .col-sm-3
              .about
                %h4 About John
                %p
                  Integer at eros eu mauris tincidunt eleifend. In hac habitasse platea dictumst. Aliquam vitae quam nec lorem viverra
          .row.speaker
            .col-sm-2
              .outer-border.item
                .middle-border
                  = image_tag("speakers-1.jpg", class: 'img-circle inner-border')
            .col-sm-7
              %p.name Eduard Jones
              %p.company Social Architects, inc
              %p.talk-title Street art as a new marketing tool
              %p.time
                %span.time-start 08:00
                \- 08:45
            %hr/
            .col-sm-3
              .about
                %h4 About Eduard
                %p
                  Integer at eros eu mauris tincidunt eleifend. In hac habitasse platea dictumst. Aliquam vitae quam nec lorem viverra
          .row.speaker
            .col-sm-2
              .outer-border.item
                .middle-border
                  = image_tag("speakers-3.jpg", class: 'img-circle inner-border')
            .col-sm-7
              %p.name Clarissa Daniels
              %p.company Founder of Pear, inc.
              %p.talk-title Using social services to increse your sales
              %p.time
                %span.time-start 09:00
                \- 09:45
            %hr/
            .col-sm-3
              .about
                %h4 About Clarissa
                %p
                  Integer at eros eu mauris tincidunt eleifend. In hac habitasse platea dictumst. Aliquam vitae quam nec lorem viverra
        #tab-3.tab-pane.fade
          .row.speaker
            .col-sm-2
              .outer-border.item
                .middle-border
                  = image_tag("speakers-3.jpg", class: 'img-circle inner-border')
            .col-sm-7
              %p.name Clarissa Daniels
              %p.company Founder of Pear, inc.
              %p.talk-title Using social services to increse your sales
              %p.time
                %span.time-start 09:00
                \- 09:45
            %hr/
            .col-sm-3
              .about
                %h4 About Clarissa
                %p
                  Integer at eros eu mauris tincidunt eleifend. In hac habitasse platea dictumst. Aliquam vitae quam nec lorem viverra
          .row.speaker
            .col-sm-2
              .outer-border.item
                .middle-border
                  = image_tag("speakers-2.jpg", class: 'img-circle inner-border')
            .col-sm-7
              %p.name John Doe
              %p.company CEO at Crown.io
              %p.talk-title Is there a need for Business 3.0?
              %p.time
                %span.time-start 10:00
                \- 10:45
            %hr/
            .col-sm-3
              .about
                %h4 About John
                %p
                  Integer at eros eu mauris tincidunt eleifend. In hac habitasse platea dictumst. Aliquam vitae quam nec lorem viverra
          .row.speaker
            .col-sm-2
              .outer-border.item
                .middle-border
                  = image_tag("speakers-1.jpg", class: 'img-circle inner-border')
            .col-sm-7
              %p.name Eduard Jones
              %p.company Social Architects, inc
              %p.talk-title Street art as a new marketing tool
              %p.time
                %span.time-start 08:00
                \- 08:45
            %hr/
            .col-sm-3
              .about
                %h4 About Eduard
                %p
                  Integer at eros eu mauris tincidunt eleifend. In hac habitasse platea dictumst. Aliquam vitae quam nec lorem viverra
