.our-partners-wrapper
  .our-partners.container
    .our-partners-inner
      %h2 Big thanks to our partners
      .row
        .col-sm-3.col-xs-6.center
          %a{:href => "http://themeforest.net/"}
            = image_tag("logo-theme-forest.png", alt: "", class: "our-partners-logo")
        .col-sm-3.col-xs-6.center
          %a{:href => "http://graphicriver.net/"}
            = image_tag("logo-graphic-river.png", alt: "", class: "our-partners-logo")
        .col-sm-3.col-xs-6.center
          %a{:href => "http://3docean.net/"}
            = image_tag("logo-3d-ocean.png", alt: "", class: "our-partners-logo")
        .col-sm-3.col-xs-6.center
          %a{:href => "http://photodune.net/"}
            = image_tag("logo-photo-dune.png", alt: "", class: "our-partners-logo")
