#nav-subscribe.subscribe-wrapper
  .subscribe
    .container
      .form.row
        .col-sm-8.col-sm-offset-2.subscribe-background
          %h4 Subscribe and get detailed information
          .row
            .col-sm-10.col-sm-offset-1
              %form
                -# TODO: need to implement a mailer here
                %div
                  %input.subscription-field{:name => "subscribe", :placeholder => "Your e-mail", :required => "required", :type => "email"}/
                  %button
                    %span.icon-normal-right-arrow-small
              .success
                %p
                  Thank you for your interest.
                  %br/
                  %i.icon.icon-normal-heart-rounded
