#nav-testimonials.testimonials-wrapper
  .testimonials
    .container
      %h2 What other said about NWX Conference?
      .cycle-slideshow-vertical{"data-cycle-swipe" => "true"}
        .slide
          .testimonials-inner
            .outer-border.item
              = image_tag("speakers-1.jpg", class: "img-circle inner-border")
            %blockquote.col-md-6.item
              %p
                There's a voice that keeps on calling me. Down the road, that's where I'll
                always be. Every stop I make, I make a new friend. Can't stay for long, just
                turn around and I'm gone again.
              %small Eduar Jones
        .slide
          .testimonials-inner
            .outer-border.item
              = image_tag("speakers-2.jpg", class: "img-circle inner-border")
            %blockquote.col-md-6.item
              %p
                There's a voice that keeps on calling me. Down the road, that's where I'll
                always be. Every stop I make, I make a new friend. Can't stay for long, just
                turn around and I'm gone again.
              %small Eduar Jones

      .cycle-pager.cycle-vertical-pager
%hr/
