= render 'layouts/navigation'
= render 'layouts/header'
= render 'home/subscribe'
= render 'home/features'
= render 'home/speakers'
= render 'layouts/parallax_breaker1'
= render 'home/feature_slider'
= render 'home/pricing'
= render 'layouts/parallax_breaker2'
= render 'home/testimonials'
= render 'home/gallery'
= render 'home/sponsors'
= render 'layouts/footer/footer'
