.footer.container
  .footer-inner
    .row
      .item.col-md-4
        %h2 Contact us
        %address
          .icon.icon-normal-pointer
          .address-content
            %span.title
              %strong Aviators Company
            %p 659 Wide Street, Los Angeles
            %p LA 2985, United States
        %address
          .icon.icon-normal-mail
          .address-content
            %a.e-mail{:href => "mailto:#"} info@aviatorscompany.com
          %br/
          .icon.icon-normal-phone
          .address-content
            %span.title (123) 456 7890
        %address
          .icon.icon-normal-map-pointer
          .address-content
            %a.btn.btn-grey Show on Google maps

      .item.col-md-8
        %h2 Any questions? Drop us a note
        %form.contact-form.footer-form
          -# TODO: need to implement a mailer here
          .row
            .col-sm-6
              .control-group
                .controls
                  %input{:name => "name", :placeholder => "Your name", :required => "required", :type => "text"}/
                  %span.icon.icon-normal-profile-male

            .col-sm-6
              .control-group
                .controls
                  %input{:name => "email", :placeholder => "Your e-mail", :required => "required", :type => "email"}/
                  %span.icon.icon-normal-mail
          .row
            .col-sm-12
              .control-group
                .controls
                  %textarea{:name => "message", :placeholder => "Your message", :required => "required"}
                  %span.icon.icon-normal-pencil
          .form-actions
            %input.btn.btn-send.col-md-3{:type => "submit", :value => "Send"}/
