#nav-contact.footer-wrapper
  = render 'layouts/footer/contact'
  #map
  .footer-bottom
    .container
      .row.footer-bottom-wrapper
        .copyright.left
          © 2016 Copyright by
          Rubyfuza
          %a.btn.btn-grey
            %strong Rubyfuza.org

        .icons.right
          %a.social-icon{:href => "#"}
            = image_tag('icon-twitter.png', alt:"")
          %a.social-icon{:href => "#"}
            = image_tag('icon-facebook.png', alt:"")
          %a.social-icon{:href => "#"}
            = image_tag('icon-youtube.png', alt:"")
