#nav-header
  #owl-example.owl-carousel
    .owl-slide
      = render 'layouts/slides/count_down'
    .owl-slide
      .owl--text
        Lorem ipsum dolor sit amet, consectetur adipisicing elit!
    .owl-slide
      .owl--text
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam excepturi voluptate eveniet consectetur numquam laboriosam.
