-# %nav.navbar.navbar-fixed-top
-#   .container-fluid
-#     .navbar-header
-#       %button.navbar-toggle{"data-target" => "#main-navbar", "data-toggle" => "collapse", :type => "button"}
-#         %span.sr-only Toggle navigation
-#         %span.icon-bar
-#         %span.icon-bar
-#         %span.icon-bar
-#       .logo
-#         %a.roll{:href => "#nav-header"}
-#           %span
-#           %span Rubyfuza
-#     %div
-#       #main-navbar.navbar-collapse.collapse
-#         %ul.nav.navbar-nav
-#           %li
-#             %a{:href => "#nav-header"} Home
-#           %li
-#             %a{:href => "#nav-speakers"} Speakers
-#           %li
-#             %a{:href => "#nav-pricing"} Pricing
-#           %li
-#             %a{:href => "#nav-testimonials"} Testimonials
-#           %li
-#             %a{:href => "#nav-contact"} Contact

%nav.navbar.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => "#rubyfuza-navbar", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#nav-header"} RubyFuza
    %div
      #rubyfuza-navbar.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li
            %a{:href => "#nav-header"} Home
          %li
            %a{:href => "#nav-speakers"} Speakers
          %li
            %a{:href => "#nav-pricing"} Pricing
          %li
            %a{:href => "#nav-testimonials"} Testimonials
          %li
            %a{:href => "#nav-contact"} Contact
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Previous Years
              %span.caret
            %ul.dropdown-menu
              %li
                %a{:href => "#section61"} 2015
              %li
                %a{:href => "#section62"} 2014
