.parallax-wrapper.parallax-second
  .parallax
    .inner
      .container
        .row
          .col-xs-12.clearfix
            %span.parallax-title Video Preview
            %iframe.video{:src => "http://player.vimeo.com/video/65669594"}
