.parallax-wrapper.parallax-first
  .parallax
    .inner
      .container
        .row
          .span12
            %span.parallax-title
              Wherever you are,
              %br/
              be all there
