!!!
%html{:lang => "en-US"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "Ruberto Paulo", :name => "author"}/
    %title RubyFuza - Best ruby conference.
    = csrf_meta_tags
    = stylesheet_link_tag    'application', 'data-turbolinks-track': 'reload', media: 'all'
  %body{"data-offset" => "50", "data-spy" => "scroll", "data-target" => "#main-navbar"}

    = yield

    %script{:src => "https://maps.googleapis.com/maps/api/js?v=3.exp&"}
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'parallax'
    = javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js'
